<p>Saygılarımızla.</p>

<p>
  <%= Rails.application.credentials[:admin_full_name] %> <br />
  Müşteri İlişkileri Sorumlusu<br />
  teklifal.com
</p>

<p>
  Soru ve görüşleriniz için: <br />
  <a href="">cihad@teklifal.com</a>
</p>