<div class="row">
  <div class="col-12">
    <div class="card border-primary mb-5  ">
      <div class="card-header">
        <%= link_to announcement.title, announcement %>
      </div>
      <%= render announcement %>
    </div>
  </div>
</div>