<h2>Editing Announcement</h2>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= render 'form', announcement: @announcement %>

    <%= link_to 'Show', @announcement %> |
    <%= link_to 'Back', announcements_path %>

  </div>
</div>





