<h1>My Announcements</h1>

<table class="table">
  <tr>
    <th></th>
    <th>Desc</th>
    <th>Offer Count</th>
    <th>Expired At</th>
    <th>Actions</th>
  </tr>
  <%= render partial: 'table_ann',
             collection: current_user.announcements.order(expired_at: :desc),
             as: :announcement %>
</table>