<h3 class="h5 pb-2 border-bottom">TEKLİF İLANI</h3>

<%= render @announcement %>

<h3 class="mt-5 h5 pb-2 border-bottom">TEKLİFLER</h3>
<%= render @announcement.offers %>

<%= render 'offers/form', announcement: @announcement, offer: Offer.new %>


