<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Yeni teklif</h1>

    <p>"<%= @ann.title %>" başlıklı ilanınıza yeni teklif yapıldı:</p>

    <p>
      <%= link_to "Teklifi gör", [@ann, @offer] %>
    </p>
  </body>
</html>