<div class="list-group list-group-flush border-right">
  <%= dashboard_nav_link administration_path do %>
    Dashboard
  <% end %>
  <%= dashboard_nav_link administration_announcements_path do %>
    İlanlar
    <span class="badge badge-primary badge-pill">
      <%= Announcement.published.count %>
    </span>
  <% end %>
  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    Ilanlar
    <span class="badge badge-primary badge-pill">14</span>
  </a>
  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    Teklifler
    <span class="badge badge-primary badge-pill">14</span>
  </a>
  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    Kullanicilar
    <span class="badge badge-primary badge-pill">14</span>
  </a>
  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    Diger Ayarlar
    <span class="badge badge-primary badge-pill">14</span>
  </a>
</div>