<section class="position-relative jumbotron mb-0">
  <div id="map" class="map"></div>
  <div id="map-overlay" class="map"></div>

  <div class="row">
    <div class="offset-7 col-5" id="controls">

      <div class="card" style="background-color:rgba(255, 255, 255, 0.6);">
        <div class="card-body">
          <div class="form-group">
            <div class="d-flex">
              <label>Alış yeri</label>

              <div class="ml-auto">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="differentLocation">
                  <label class="form-check-label " for="differentLocation">
                    Farklı bir yerde teslim et
                  </label>
                </div>
              </div>
            </div>
            <%= text_field_tag :pick_up_location, nil, class: 'form-control' %>
          </div>
            
          <div class="form-group" id="dropOffField">
            <label>Teslim yeri</label>
            <%= text_field_tag :drop_off_location, nil, class: 'form-control' %>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label>Alış zamanı</label>
              <%= text_field_tag :pick_up_time, nil, class: 'form-control flatpickr' %>
            </div>

            <div class="form-group col">
              <label>Teslim zamanı</label>
              <%= text_field_tag :drop_off_time, nil, class: 'form-control flatpickr' %>
            </div>
          </div>
          <button class="btn btn-primary w-100">Teklif Al</button>
        </div>
        </div>
      </div>
      
  </div>
</section>