<div class="jumbotron mb-0 position-relative" id="new-everything-slide">
  <style type="text/css">
    .jumbotron {
      background-size: cover;
      background-position: center center;
    }

    #new-everything-slide {
      background-image: 
        linear-gradient(
          rgba(0, 0, 0, 0.8), 
          rgba(0, 0, 0, 0.8)
        ),
        url(<%= asset_path "new-car.jpg" %>);
    }
  </style>

  <div class="row text-white">
    <div class="col">
      <p class="h1 mb-0">Sana özel teklifler;</p>
      <p class="h2 mb-3">Ne ihtiyacın varsa firmalar sana özel teklif yapsın.</p>
      <p> Size özel yapılan teklifleri değerlendirin.<br>
          Alırken kazanın.</p>
      <p class="font-italic small mt-5 d-flex justify-content-end align-items-center text-warning">
        <i class="mi mr-1">access_time</i>
        <span>2 dk. vaktini alır</span>
      </p>
    </div>
  </div>

</div>