<style type="text/css">
.image-section {
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(rgba(0, 123, 255, 0.7),rgba(0, 123, 255, 0.7)),url("<%= image_url "transportation.jpg" %>");
  padding-top: 15rem;
  padding-bottom: 15rem
}

.rtl {
  direction: rtl;
  text-align: right;
}
</style>

<section class="image-section text-white">
  <div class="container">
    <h2 class="rtl text-center">Dış ticaret bakkaldan ekmek almak kadar kolay</h2>
    <p></p>
    <div class="row">
      
    </div>
  </div>
</section>


<section class="py-6">
  <div class="container">
    <div class="mb-5 rtl">
      <h2>Avantajlar</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
    <div class="row">
      <div class="col-8 offset-4">
        <div class="row">
          <div class="col-6">
            <div class="d-flex">
              <div class="rtl mr-3">
                <h4>Güven</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <i class="mi">security</i>
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex">
              <div class="rtl mr-3">
                <h4>Hiz ve Kolaylik</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <i class="mi">update</i>
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex">
              <div class="rtl mr-3">
                <h4>Danismanlik</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <i class="mi">info</i>
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex">
              <div class="rtl mr-3">
                <h4>CTC</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <i class="mi">business_center</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="py-6">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Bakkaldan Ekmek Almak</h3>
        <div>Bakkala git</div>
        <div>Ekmek istediğini söyle: "Bakkal amca 2 ekmek lazım."</div>
        <div>Bakkal amca ekmekleri uzatsin.</div>
        <div>Ekmegi al.</div>
        <div>Parasini ver.</div>
      </div>
      <div class="col">
        <h3>teklifal.com'dan ticaret yapmak</h3>
        <div>teklifal.com'a gir</div>
        <div>Ihtiyacini yaz</div>
        <div>Teklifler gelsin.</div>
        <div>Teklifi sec</div>
        <div>Ücretini öde.</div>
        <div>Urunlerini al.</div>
      </div>
    </div>
  </div>
</section>