<main role="main">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1>BİTEKLİF İSTE, BİTEKLİF VER</h1>
      <p>Santiyeme trafo lazim, nerden alsam,</p>
      <p>Dukkanim icin web sitesi lazim, kime yaptirsam</p>
      <p>Fabrikamizi haserelerden korumak icin ilaclatmamiz lazim</p>
      <p>
        <a class="btn btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>
      </p>
    </div>
  </div>
</main>


<h3>Guncel Teklifler</h3>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Teklif</th>
      <th scope="col">Teklif sayisi</th>
      <th scope="col">Teklif zamani</th>
    </tr>
  </thead>
  <tbody>
    <% Announcement.all.order(created_at: :desc).each do |ann| %>
      <tr>
        <td><%= link_to strip_tags(ann.desc), ann %></th>
        <td><%= ann.offers.size %> teklif</td>
        <td><%= time_ago_in_words ann.created_at %> once</td>
      </tr>
    <% end %>
  </tbody>
</table>

