<main role="main" class="mt-5">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1>Pazarınızı büyültüyoruz</h1>
      <p>Firmanız artık
        <span class="text-primary">
          <strong id="typed"></strong>
        </span>
      </p>
      <p>
        <%= link_to new_subscriber_path, class: "btn btn-success" do %>
          BAŞLA
          <i class="mdi mdi-add"></i>
        <% end %>
      </p>
    </div>
  </div>
</main>

<script src="https://rawgit.com/mattboldt/typed.js/master/lib/typed.min.js"></script>
<script type="text/javascript">
  new Typed("#typed", {
    strings: [
      "kolay ulaşılabilir olacak.",
      "daha profesyonel görünecek.",
      "daha yenilikçi olacak.",
    ],
    typeSpeed: 60,
    loop: true,
    backSpeed: 25,
    backDelay: 1500
  });
</script>

<style type="text/css">
  
/*------------------------------------
  Typed.js
------------------------------------*/
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
          animation: blink 0.7s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

</style>

<main role="main" class="mt-5">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1>Müşterileriniz sizi daha cok sevecek</h1>
      <p>Müşterilerinizle ilgilendiğinizi hissettirin.</p>
    </div>
  </div>
</main>

<main role="main" class="mt-5">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1>Dijital cağa uyum sağlayın</h1>
      <p>biteklif.com size daha çok müşteriye ulaşma fırsatı sunuyor  .</p>
    </div>
  </div>
</main>

