<%= content_for :container_top do %>
  <div class="p-5 text-white rounded-top"
        style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= raw asset_path 'bg-1.jpg' %>');
          background-size: cover;
          background-repeat: no-repeat;
        ">
    <h2 class="text-center">HAKKIMIZDA</h2>
  </div>
<% end %>

<p>
teklif olarak temmuz 2018'de kurulduğumuz günden beri firmaların
müşteri ilişkilerini iyiliştirmeleri konusunda çalışıyoruz. Yeni
ürünler çıkararak problemlerine çözüm üretiyoruz.
</p>

<p>
daima mevcut ürünlerimizi geliştiriyor, eski ürünlerimizi yayından
kaldırıyor, yeni ürünler çıkartıyoruz.
</p>

<p>
piyasa dinamiklerini araştırıyoruz. piyasanın ihtiyacı olmayan, herhangi
bir probleme çözüm olmayan, laf salatası ürünlerden uzak duruyoruz,
</p>

<p>
günün şartlarına göre ürünlerimizi güncelliyoruz. en fazla verim
alabilmek için iş süreçlerini kısaltıyor, firmalarımızın daha fazla
işlerine odaklanmalarını sağlıyoruz,
</p>

<p>
işe yaramayan tamamlanmış iş süreçlerinden daha çok, işe yarayan yarım
kalmış iş süreçlerine değer veriyoruz,
</p>

<p>
Türkiye'nin geleceğine inanıyor, bu yolda bize destek olan tüm firmalarımıza
teşekkür ediyoruz.
</p>