<%= page_header "My Announcements" %>

<table class="table">
  <tr>
    <th></th>
    <th>Desc</th>
    <th>Offer Count</th>
    <th>Expired At</th>
    <th>Actions</th>
  </tr>
  <%= render partial: 'table_ann',
             collection: @announcements,
             as: :announcement %>
</table>