<ul class="nav nav-tabs">
  <li class="nav-item">
    <h2 class="h4 mt-1 mr-4">Tekliflerim</h2>
  </li>
  <li class="nav-item">
    <%= link_to "Taslak", my_offers_path(status: :draft), class: "nav-link #{'active' if params[:status] == 'draft'}" %>
  </li>
  <li class="nav-item">
    <%= link_to "Yayında olan", my_offers_path(status: :active), class: "nav-link #{'active' if params[:status] == 'active'}" %>
  </li>
  <li class="nav-item">
    <%= link_to "Yayında olmayan", my_offers_path(status: :expired), class: "nav-link #{'active' if params[:status] == 'expired'}" %>
  </li>
</ul>

<div class="mt-4">
  <%#= sub_header @title %>

  <style type="text/css">
    .orders-table thead th {
      border: 0
    }
  </style>

  <table class="table table-sm orders-table">
    <thead>
      <tr>
        <th></th>
        <th>My Offer</th>
        <th>Announcement</th>
        <th>İlana teklif sayısı</th>
        <th>Son güncellenme</th>
        <th>Actions</th>
      </tr>
    </thead>

    <%= render partial: 'table_offer',
               collection: @offers,
               as: :offer %>

  </table>
</div>