/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require trix
 *= require material_icons
 *= require material_icons_unicode
 *= require airbnb
 *= require gmap
 *= require_self
 */

@import "bootstrap";
@import "responsive_borders";
@import "attachments";
@import "announcements";
@import "stepper";
@import "tick";
@import "accordion";
@import "subscribers";
@import "spotlight";

.field_with_errors .trix-content,
.field_with_errors .form-control {
  border-color: #dc3545;
}

trix-editor {
  @extend .form-control
}

trix-editor:focus {
  @extend .form-control:focus
}

.dot {
  @extend .rounded-circle;
  display: inline-block;
  width: 10px;
  height: 10px;
}

.top-image {
  @extend .m-1, .rounded-top;
  height: 200px;
  background-size: cover;
  background-position: center center;
}

.top-image.new-car {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)
    ),
    asset-url('new-car.jpg');
}

.top-image.car-rental {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)
    ),
    asset-url('car-rental.jpg');
}

.top-image.plain {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)
    ),
    asset-url('hand-shake-istanbul.jpg');
}

.top-image.household-appliances {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)
    ),
    asset-url('household-appliances.jpg');
}


.mobile-app {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)
    ),
    asset-url('sabiha-gokcen-airport.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: none;
}

.user-nav {
  min-width: 240px;
}

.field_with_errors label {
  @extend .text-danger;
}

.py-6 {
  padding-top: ($spacer * 6) !important;
  padding-bottom: ($spacer * 6) !important;
}

.rtl {
  direction: rtl;
  text-align: right;
}
