<footer class="mt-5 py-5 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
      </div>
      <div class="col-6 col-md">
        <h5>teklif.com</h5>
        <ul class="list-unstyled text-small">
          <li><%= link_to "Hakkımızda", page_path("about"), class: "text-muted" %></li>
          <li><%= link_to "Açık Pozisyonlar", page_path("open-positions"), class: "text-muted" %></li>
          <li><%= link_to "İletişim", page_path("contact"), class: "text-muted" %></li>
          <li><a class="text-muted" href="#">Gizlilik Politikası</a></li>
          <li><%= link_to "Yardım", page_path("help"), class: "text-muted" %></li>
          </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Profesyonel Aboneler</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Neden abonelik?</a></li>
          <li><a class="text-muted" href="#">Abone Olmak İstiyorum</a></li>
          <li><a class="text-muted" href="#">Ücretlendirme</a></li>
          <li><a class="text-muted" href="#">Web Sitenize Özel</a></li>
          <li><a class="text-muted" href="#">Yeni kategori teklifi</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Kategoriler</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Yeni Araba</a></li>
          <li><a class="text-muted" href="#">Araba Kiralama</a></li>
          <li><a class="text-muted" href="#">Sigorta</a></li>
          <li><a class="text-muted" href="#">Beyaz Eşya</a></li>
          <li><a class="text-muted" href="#">Gayrimenkul</a></li>
          <li><a class="text-muted" href="#">Ofset</a></li>
          <li><a class="text-muted" href="#">Diğer</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Sosyal Medya</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Facebook</a></li>
          <li><a class="text-muted" href="#">Twitter</a></li>
          <li><a class="text-muted" href="#">Instagram</a></li>
          <li><a class="text-muted" href="#">Youtube</a></li>
          <li><a class="text-muted" href="#">LınkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>