<% if object.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><%= t 'forms.errors' %></h4>
    <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= raw message %></li>
    <% end %>
    </ul> 
  </div>
<% end %>