<div class="alert alert-warning mb-5" role="alert">
  <h5 class="alert-heading">1 adım kaldı!</h5>
  <p class="m-0">Eklediğiniz talep ilanının yayınlanabilmesi için aşağıdan <strong>Giriş</strong>
    yapmalısınız. Veya bir hesabınız yoksa <strong>Kayıt</strong> olmalısınız.</p>
</div>